@media( min-width: 992px){
body{
    background-image : url(155013.jpg);
    background-size: auto;
}
*{
    box-sizing: border-box;
}
h1{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
font-style: italic;
color: rgb(189, 47, 47);
}
div#keep{
    position: relative;
    top: 25px;
    
}
p {
width: 32%;
border: 1px solid black;
float: left;
margin-right: 15px;
padding:  10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#p2 {
background-color: rgb(53, 101, 233);


}
#p3 {
background-color: rgb(125, 116, 212);
clear: right;

}
#p4 {
background-color: rgb(27, 115, 131);

}



}
@media(min-width: 768px) and (max-width: 991px){
    body{
        background-image : url(155013.jpg);
        background-size: auto;
    }
    *{
        box-sizing: border-box;
    }
    h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-style: italic;
    color: rgb(189, 47, 47);
    }
    div#keep{
        position: relative;
        top: 15px;
        
    }
    p {
    width: 28%;
    border: 1px solid black;
    float: left;
    margin-right: 15px;
    padding:  10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    
    
    #p2 {
    background-color: rgb(53, 101, 233);
    padding: 25px;
    text-align: center;
    
    }
    #p3 {
    background-color: rgb(125, 116, 212);
    clear: right;
    
    }
    #p4 {
    background-color: rgb(27, 115, 131);
    
    }
}
@media(max-width: 767px){
    body{
        background-image : url(155013.jpg);
        background-size: auto;
    }
    *{
        box-sizing: border-box;
    }
    h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-style: italic;
    color: rgb(189, 47, 47);
    }
    div#keep{
        position: relative;
        top: 15px;
        
    }
    p {
    width: 28%;
    border: 1px solid black;
    float: left;
    margin-right: 15px;
    padding:  10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    
    #p2 {
    background-color: rgb(53, 101, 233);
    
    
    }
    #p3 {
    background-color: rgb(125, 116, 212);
    clear: right;
    
    }
    #p4 {
    background-color: rgb(27, 115, 131);
    
    }
}